<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Monobank Testing">

  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    <listener class-name="com.w2a.listeners.CustomListeners"/>

  </listeners>

  <test name="Deposite page">
    <classes>
      <class name="com.w2a.base.TestBase"/>
      <class name="com.w2a.testcases.DepositeTest"/>
    </classes>    
  </test> <!-- Test -->  
  
  <test name="Credit Calculator">
    <classes>
      <class name="com.w2a.testcases.CreditCalcCard"/>
    </classes>    
  </test> <!-- Test -->  
  
  <test name="Order a card">
    <classes>
      <class name="com.w2a.testcases.OrderCardTest"/>
    </classes>    
  </test> <!-- Test -->  
 
</suite> <!-- Suite -->
